html {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
  }
  
  body {
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    background-color: black;
  }
    .c_Foto {
      width: 40rem;
      height: 50rem;
      margin: auto;
      padding: auto;
      margin-top: 17rem;
      display:flex;
      flex-direction: column;
    }
    .fotoPerfil {
      width: 30rem;
      height: 30rem;
      margin: auto;
      background-color:white;
      border-radius:25px;
      
    }
    #foto {
      width:100%;
      height:100%;
      border-radius:25px;
    }
    
    #titulo {
      position: relative;
      margin:auto; 
      margin-top: 2rem;
      font-size: 4rem;
    }
    
    #estudiante {
      position:relative;
      text-align: center;
      font-size: 3rem;
      justify-content: center;
    }
    .c_contacto{
      width:30%;
      height:15%;
      margin:auto;
      margin-top:0rem;
    }
    .c_contacto h3{
      position: relative;
      text-align: center;
      font-size:4rem;
    }
  .redes{
    margin:auto;
    width:80%;
    display:flex;
    justify-content: space-evenly;
}
  .redes a{
    text-decoration: none;
    color:#ddff8f;
}
    i{
      font-size:4.8rem;
      position:relative;
    }
    i:hover{
      bottom:0.4rem;
    }
    
    .divBodyOscuro {
      height: 100%;
      width: 50%;
      color:#ddff8f;
      position:relative;
    }

    /*--------------- inicio div "Claro" ---------------*/
    .divBodyClaro {
      height: 100%;
      width: 50%;
      background-color:#ddff8f;
      position:relative;
      z-index: 1;
      border-radius: 25px 0px 0px 25px;
      font-size: 2.3rem;
    }
    .c_sobremi{
      width:90%;
      height:85%;
      margin:auto;
    }
    hr{
      border: black 1px solid;
      width:100%;
    }
    .educacion{
      position:relative;
      display:flex;
      width:100%;
    justify-content:space-around;
    }
    #año{
      font-size: 3rem;
      position:relative;
      margin-top:4rem;
      font-weight:bold;
    }
    .c_texto{
      position:relative;
      width:85%;
    }
    .proyectos{
      position:relative;
      width:26rem;
      height:6rem;
      background-color:black;
      color:white;
      transition-duration: 0.7s;
      left:35%;
      top:10%;
    }
    .proyectos:hover{
      background-color: #ddff8f;
    }
    .proyectos a{
      text-decoration: none;
      color:gray;
    }